body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Header Styling */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

/* Button Animations */
button.btn-animated {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button.btn-animated:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

button.btn-animated:active {
  transform: scale(0.98);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

button.btn-success {
  background-color: #28a745;
}

button.btn-success:hover {
  background-color: #218838;
}

/* Weather Section */
.weather-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.weather-info,
.temperature-info {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.weather-info:hover,
.temperature-info:hover {
  transform: translateY(-10px);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #555;
}

img {
  width: 100px;
  height: 100px;
}

/* Recipes Section */
.recipes-container {
  margin-top: 40px;
}

#recipe-container .col-md-2 {
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
